livekit==1.1.2
livekit-agents==1.4.3
pydantic-settings==2.13.1
python-dotenv==1.2.1
pytz==2025.2
livekit-plugins-anthropic==1.4.3
livekit-plugins-assemblyai==1.4.3
livekit-plugins-aws==1.4.3
livekit-plugins-cartesia==1.4.3
livekit-plugins-deepgram==1.4.3
livekit-plugins-elevenlabs==1.4.3
livekit-plugins-google==1.4.3
livekit-plugins-groq==1.4.3
livekit-plugins-hume==1.4.3
livekit-plugins-noise-cancellation==0.2.5
livekit-plugins-openai==1.4.3
livekit-plugins-rime==1.4.3
livekit-plugins-sarvam==1.4.3
livekit-plugins-silero==1.4.3
livekit-plugins-turn-detector==1.4.3
google-genai==1.65.0
redis==7.2.1
num2words==0.5.14
pandas==3.0.1
fastapi==0.134.0
uvicorn==0.41.0
gunicorn==25.1.0